
<!doctype html>
<title>Fabric Finder</title>

<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>


      <div class="starter-template">
        <h1>Fabric-Finder</h1>
        <h3>Upload an image of the product and we'll give you fabric recommendations.</h3>
          <img src="{{url_for('static',filename='img/front_page_img.png')}}" width="600" height="200">

        <div>
          <br><br><br>
        </div>

<h1>Upload Your Image</h1>
<form action="" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=Upload>
</form>
